.banner-contact {
    margin-top: -85px;
    background-image: url('/img/banner4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 515px;
    z-index: -1;
}


.banner-contact .container-fluid {
    display: flex;
    align-items: flex-end;
    padding-bottom: 4rem;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.banner-contact .container-fluid .row {
    height: 175px;
    width: 475px;
    margin: 0 1.50rem;
}
.banner-contact .container-fluid .row .col-12 h1 {
    color: #d2d2d2;
    font-size: 2.75rem;
    line-height: 55px;
    margin-bottom: 40px;
}
@media screen and (max-width:517px){
    .banner-contact .container-fluid {
        display: flex;
        align-items: center;
    }
    .banner-contact h1 {
        font-size: 2.25rem!important;
        line-height: 45px!important;
    }
}


.banner-contact .container-fluid .row .col-12 p {
    color: #d2d2d2;
    font-size: 1rem;
    font-weight: 500;
    
}


.contact-view  {
    margin: 85px 0;
    padding-top: 0;
}

.contact-view .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.contact-view .section-header {
    text-align: center;
    margin: 0 auto 75px auto;
    max-width: 650px;
}

.contact-view .section-header .title {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
   
}

.contact-view .section-header .title::before {
    content: "";
    position: absolute;
    height: 1.25px;
    background-color: black;
    width: 30%;
    left: -10px;
    top: -12px;
}

.contact-view .section-header .title::after {
    content: "";
    position: absolute;
    height: 1.25px;
    background-color: black;
    width: 70%;
    left: 75px;
    top: 40px;
}

.my-form h3 {
    color: #d2d2d2;
}








